.ContainerBurger{
    /* width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
    border-radius: 30px;
    /* margin-left: 100px; */
}

.Burger{
    width: 400px;
    /* margin: 100px 20px; */
    height: 100%;
    overflow: scroll;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.LabelAdd{
    color: white;
    font-weight: 800;
}

@media (max-width: 714px){
    .Burger{
        width: 420px;
        height: 400px;
    }
    .ContainerBurger{
        width: auto;
    }
}